
<p>Those are the training's sessions for now</p>

<% @sessions.each do |session| %>
  <%= session.date %>
  <%= session.time %>
  <%= link_to "Book this session", new_session_booking_path(session.id) %>
<% end %>

