
<p>Those are the training's sessions for now</p>

<%= @sessions.each do |session| %>
  <%= session.date %>
  <%= session.time %>
  <%= link_to "Book this session", new_training_booking_path(@training) %>
<% end %>

