.booking-container{
  min-height: 500px;
  padding-top: 140px;
}

.no-training{
padding-bottom: 40px;
}

#submit-booking{
padding: 5px 40px;
}

.confirm-booking{
  padding: 50px;
}

.confirm-inline{
  display: flex !important;
  justify-content: space-around;
}

a:hover {
  text-decoration: none;
  color: white;
}

#new_booking {
  display: flex;
  justify-content: space-around;
  align-items: center;
  .select {
    height: 50px;
    box-shadow: none;
    border-radius: 0;
  }
}
