.booking-container{
  min-height: 500px;
  padding-top: 140px;
}

.no-training{
padding-bottom: 40px;
}

#submit-booking{
padding: 5px 40px;
}

.confirm-booking{
margin:100px 200px 100px 200px;
padding: 100px 100px 100px 130px;
border: 1px solid black;
}
