.home-container{
  min-height: 500px;
}

.story-container {
  text-align: center;
  padding: 100px 0;
  background-color: #FAFAFA;
  border-top: solid #E6E8E6 1px;
  border-bottom: solid #E6E8E6 1px;

  h3 span {
    font-size: 50px;
    padding-bottom: 30px;
    color: #08415C;

  }

  h3 {
    font-size: 20px;
    font-weight: bold;
  }

  h3 p {
    font-family: raleway;
    font-size: 18px;
    font-weight: lighter;
    padding-top: 10px;

  }
}

@media (max-width: 700px) {
    .story-container {
      margin-top: 50px;
    }
  }

.discover {
  font-family: raleway;
  font-size: 18px;
  font-weight: bold;
  margin-top: 50px;

}

.our-sports {
  font-weight: bold;
  font-size: 10px;
  color: grey;
}

.tab-container {
  margin-top: 100px;
}


.relative {
  position: relative;
}

.absolute{
  position: absolute;
  left: 50%;
}

.tab-pictures {
  width: 100%;
  height: auto;
  border-radius: 1px;
  background-size: cover;
  // height: 200px !important;
}

@media (max-width: 700px){
  .tab-container {
    margin-top: 30px;

  }
}

.tab-image.active {
  background: #f4f4f4;
  color: #8d8d8d;
  border: 1px solid #8d8d8d;
}


@display (min-width: 700px){
  .overview-container {
    margin-left: 98px;
  height: 400px;
  }
}


.quote {
 font-family: 'open sans';
 padding-top: 0px;
 font-weight: 300;
 font-size: 36px;
 padding-top: 40px;

 h3 {
  font-size: 18px;
}

}
