.home-container{
  min-height: 500px;
}

.story-container {
  text-align: center;
  color: 333333;
  padding: 100px 0;
  background-color: #F7F7F7;

  h3 span {
    font-size: 50px;
    padding-bottom: 30px;
    color: black;
  }
}

.tabs-container {
  width: 100%;
}

