

.form {
  position: relative;
  left: 50px;
}

#form-filters {
  position: relative;
  left: 1em;
}

.black-white-button {
  background-color: black;
  color: white;
  font-size: 14px;
  padding: 10px 30px;
}

#filter-button {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-left: 10px;
  border-radius: 5px;
  background-color: #3066BE;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;

  &:hover {
    color: white;
    border-color: 1px solid white;
  }
}

.result-wrapper {
  position: relative;
}

.container-results{
  width:100%;
  position: absolute;
  overflow-y: scroll;

}
.map-box{
  margin-right: -15px;
  padding-left: 30px;

}

.resulsts-overview{
  margin-bottom: 150px;
  margin-left: 25px;
}

#map {
  height: 80vh;
}


.search-training-session {
  padding-bottom: 38px;
}

.result-cards-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
