

.form {
  position: relative;
  left: 50px;
}

#form-filters {
  position: relative;
  left: 1em;
}

.black-white-button {
  background-color: black;
  color: white;
  font-size: 14px;
  padding: 10px 30px;
}

#filter-button {
  padding-left: 20px;
  padding-right: 20px;
  line-height: 22px;
  margin-left: 10px;
  border-radius: 1px;
  background-color: $soplex-blue;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;

  &:hover {
    color: $soplex-blue;
    border: 1px solid $soplex-blue;
    background-color: white;
  }
}

.result-wrapper {
  position: relative;
}

.container-results{
  width:100%;
  position: absolute;
  overflow-y: scroll;

}

.map-box{
  // margin-right: -15px;
  padding-left: 30px;
  position: fixed;
  top: 92px;
  bottom: 0;
  right: 0;
  left: 50%;

}

.resulsts-overview{
  margin-bottom: 150px;
  margin-left: 25px;
}

#map {
  height: 100%;
}


.search-training-session {
  padding-bottom: 38px;
  #search_query_sport, #search_query_date, .input-group-btn button  {
    height: 42px;
    box-shadow: none;
    border-radius: none;
    border: 1px solid black;
  }
  #search_query_sport {
    margin-right: 3px;
    -webkit-appearance: none;
    color: black;
  }
  #search_query_date input {
    color: black;
  }
}

.result-cards-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

h5 {
  font-size: 14px;
  opacity: 0.9;
}

.toright {
  padding-left: 6px;
  font-size: 14px;
  line-height: 12px;
  padding-top: 20px;
}
