

.form {
  position: relative;
  left: 50px;
}

#form-filters {
  position: relative;
  left: 1em;
}

.black-white-button {
  background-color: black;
  color: white;
  font-size: 14px;
  padding: 10px 30px;
}

#filter-button {
  height: 42px;
  padding: 0 45px;
  line-height: 20px;
  margin-left: 10px;
  border-radius: 1px;
  background-color: $soplex-blue;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border: 1px solid $soplex-blue;

  &:hover {
    color: $soplex-blue;
    border: 1px solid $soplex-blue;
    background-color: white;
  }
}

.result-wrapper {
  position: relative;
}

.container-results{
  width:100%;
  position: absolute;
  overflow-y: scroll;
}



.map-box{
  position: fixed;
  top: 70px;
  bottom: 0;
  right: 0;
  left: 60%;
}

@media (max-width: 1200px){
  .map-box{
  top: 150px;
  }
}

.results-overview{
  margin-bottom: 150px;
  margin-left: 25px;
}

#map {
  height: 100%;
}

.results-filters{
  padding-left: 25px;
  width: 1000px;
}


.search-training-session {
  padding-bottom: 1.5em;
  #search_query_sport, #search_query_date, .input-group-btn button  {
    height: 42px;
    box-shadow: none;
    border-radius: none;
    border: 1px solid black;
  }
  #search_query_sport {
    margin-right: 3px;
    -webkit-appearance: none;
    color: black;
    margin-bottom: 0;
  }
  #search_query_date input {
    color: black;
    width: 140px;
  }
  #search_query_participants {
    margin-left: 3px;
    border: 1px solid;
    -webkit-appearance: none;
    height: 42px;
  }
}

.result-cards-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

h5 {
  font-size: 14px;
  opacity: 0.9;
}

.toright {
  padding-left: 6px;
  font-size: 14px;
  line-height: 12px;
  padding-top: 20px;
}
