#trainer-name {
  padding: 30px 30px 30px 0;
}

.profile-container {
  min-height: 400px;
  padding: 0 100px;
  padding-top: 50px;
  padding-bottom: 100px;
  display: flex;
}

.profile-photo {
  width: 50%;
  height: 500px;
  background-repeat: no-repeat;
  text-align: center;
  margin-top: 30px;
}

.profile-text {
  width: 50%;
  height: 500px;
  padding-right: 10%;

}
