.profile-container {
  min-height: 400px;
  padding: 50px 25px 0 25px;

  padding-bottom: 20px;
}


.profile-photo-xs {
  height: 30vh;
    background-repeat: no-repeat;
  background-size: cover;
}
#profile-photo-trainer {
  margin-top: 70px;
  margin-left: 65px;
 }

.profile-text {
  padding: 60px 50px;
  background-color: #FAF33E;
}

.profile-text-xs{
  background-color: #FAF33E;
  padding: 25px;
  width: 100%;
}

#trainer-name {
  padding: 10px 0;
  margin-bottom: 40px;

}

.form-control {
  border-radius: none;
  #profile_country{
    border-radius: none;
  }
}

#list-trainings-on-profile{
padding-left: 150px;
}

#trainings-title {
  padding-bottom: 30px;
}

