.profile-container {
  min-height: 400px;
  padding: 0 100px;
  margin-top: -70px;
  padding-bottom: 20px;
}

.profile-container-xs {

}

.profile-photo-xs {
  height: 30vh;
    background-repeat: no-repeat;
  background-size: cover;
}
.profile-photo {
  background-repeat: no-repeat;
  height: 500px;
  margin-top: 70px;
 }

.profile-text {
  padding: 30px 50px;
  margin: 0 70px 0 40px ;
  background-color: #FAF33E;
  min-height: 500px;
}

.profile-text-xs{
  background-color: #FAF33E;
  padding: 25px;
  width: 100%;
}

#trainer-name {
  padding: 10px 0;
  margin-bottom: 40px;

}

.form-control {
  border-radius: none;
  #profile_country{
    border-radius: none;
  }
}

#list-trainings-on-profile{
padding-left: 150px;
}

#trainings-title {
  padding-bottom: 30px;
}

