<div class="confirm-booking">
<h4>Select number of participants and confirm your booking!</h4><br>
<h4>
  Your training is at <%= session.time.strftime("at %H:%M") %>
</h4>
<div class="form-container">

<div class="form-inline">
      <%= simple_form_for [session, @booking] do |f| %>
      <%= f.input :participants, collection: 1..session.available_spots, prompt: "Select number of participants", label: false %>
      <%= f.button :submit, "Submit", class: "blue-button", id: "submit-booking" %>
      <% end %>
  </div>
</div>
</div>
