<div class="tabs">
  <%= link_to "Profile", edit_profile_path, class: "tab active" %>
  <%= link_to "Your trainings", trainings_path, class: "tab" %>
  <%= link_to "Your Bookings", bookings_path, class: "tab" %>
</div>
