<div id="photo-result-card" style="background-image: url('<%= cl_image_path training.profile.trainer.banner_picture %>')">
  <div id="result-card-info">
    <%= training.title %>
    </div>
    <div id="result-card-price">
    <div>€ <%= training.price %></div>
    <div>5/10 spots available</div>
  </div>
</div>
