<div class="photo-result-card col-md-6" style="background-image: url('<%= cl_image_path training.profile.trainer.banner_picture %>')">
  <div class="tab-name">
    <%= training.title %>
    <%= training.price %>
  </div>
</div>
