<div class="map-box">
  <div id="map">
    <% content_for(:after_js) do %>
      <%= javascript_tag do %>
          $(document).ready(function() {
            handler = Gmaps.build('Google', { markers: { maxRandomDistance: null } });
            handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
              markers = handler.addMarkers(<%=raw @hash.to_json %>);
              _.each(<%=raw @hash.to_json %>, function(json, index){
              json.marker = markers[index];
              json.marker.serviceObject.icon = 'http://res.cloudinary.com/dvhelys1s/image/upload/c_scale,w_22/v1493218588/logo-marker_vzp2pa.png';

              $(".result-card-" + json.id).on('mouseenter', function(e) {
                handler.getMap().setZoom(14);
                json.marker.setMap(handler.getMap());
                json.marker.panTo();
                json.marker.serviceObject.icon = 'http://res.cloudinary.com/dvhelys1s/image/upload/c_scale,w_22/v1493218368/logo-marker-blue_qb7wwk.png';
              });
    
              $(".result-card-" + json.id).on('mouseleave', function(e) {
                handler.getMap().setZoom(14);
                json.marker.setMap(handler.getMap());
                json.marker.panTo();
                json.marker.serviceObject.icon = 'http://res.cloudinary.com/dvhelys1s/image/upload/c_scale,w_22/v1493218588/logo-marker_vzp2pa.png';
              });
    
              });
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
              handler.getMap().setZoom(14);
              });
        });
      <% end %>
    <% end %>
  </div>
</div>
