<div class="outer-card-results text-center">

    <%= link_to training_path(session_model.training) do %>
    <div class="card card-results" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path session_model.training.profile.trainer.banner_picture %>')">
      <div class="training-title-card">
        <%= session_model.training.title %>
        <img class="avatar-results" src="<%= session_model.training.profile.avatar_picture %>">
      </div>

      <%# sessions.each do |session| %>
      <%#= session.date %>
      <%#= session.time %>
      <%# end %>
    </div>
    <% end %>
</div>


