<div><br></div>
<div class="container-fluid resulsts-overview">
  <div class="row">
    <div class="col-xs-6">
            <%= render 'result_cards' %>
    </div>
    <div class="col-xs-6">
      <%= render 'map' %>
    </div>
  </div>
</div>


<style>
.footer {
  display: none;
}
</style>

