.banner-container {
  height: 100vh;
  display: flex;
  margin-top: -70px;
}

.banner-content {
  width: 50%;
}

.banner-content h1 {
  color: black;
  font-size: 80px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.banner-content h3 {
  color: black;
  font-size: 44px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.banner-photo{
  height: 100vh;
  width: 50%;
  background-size: cover;
}

.banner-photo-xs{
  height: 35vh;
  width:100%;
  background-size: cover;
  background-position: center top;
  margin-top: 50px;
}

#padding-large-search{
  padding-left: 8vh;
}



.search-field-banner{
  #search_query_sport, #search_query_date, .input-group-btn button  {
    height: 42px;
    box-shadow: none;
    border-radius: none;
    border: 1px solid black;
  }
  #search_query_sport {
    margin-right: 3px;
    -webkit-appearance: none;
    color: #999999;
  }
}

.xs-banner{
  #search_query_sport  {
    width: 240px;
    text-align: center;
  }
  #search_query_date   {
    width: 200px;
  }
  #input-group-btn {
    width: 40px;
  }
}


@media (max-width: 700px) {
  .form-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .datetimepicker {
      width: 245px;
    }
  }

}

.xs-button-search {
  width: 245px;
  margin-left: 0;
}

.banner-title {
  padding-top: 20vh;
  padding-left: 8vh;
  padding-bottom: 10vh;
}

.banner-title-xs{
  padding: 10px 0;
  h1 {
    font-size: 40px;
  }
}

#xs-tagline{
  padding-top: 20px;
  padding-bottom: 20px;
}


