// Your footer style
.footer {
  color: #edeff0;
  height: 25vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 200px 0 200px;
  margin-top: 10vh;
  border-top: 1px solid black;
}

.social-button {
  list-style: none;
  padding: 0;
}

.social-button li{
  display: inline;
  padding: 10px;

}

.social-button i {
  color: black;
}

.social-button i:hover {
  color: #c9c9c9;
}


.footer-text li {
  display: inline;
  padding: 10px;
  color: black;
}

.footer-text a {
color: black;
}

.footer-text a:hover {
color: #c9c9c9;
text-decoration: none;
}
// Your footer style

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
  padding-top: 70px;
}
