// Your footer style
.footer {
  width: 100%;
  color: #edeff0;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15vh;
  margin: 0 auto;
  border-top: solid #E6E8E6 1px;
  background-color: #FAFAFA;
}

.social-button {
  margin-left: 100px;
  list-style: none;
  padding: 0;
}

.social-button li{
  display: inline;
  padding: 10px;

}

.social-button i {
  color: black;
}

.social-button i:hover {
  color: #c9c9c9;
}

.footer-text {
  margin-right: 100px;
}

.footer-text li {
  display: inline;
  padding: 10px;
  color: black;
}

.footer-text a {
color: black;
}

.footer-text a:hover {
color: #c9c9c9;
text-decoration: none;
}
// Your footer style

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

@media (min-width: 700px) {

.Site-content {
  flex: 1;
  padding-top: 70px;
}
}
