@media (min-width: 770px) {
}
  video#bgvid {
    position: absolute;

    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(Crocodile.jpg) no-repeat;
    background-size: cover;
  }

@media (max-width: 770px) {
  // background: url(Crocodile.jpg) no-repeat;
  // background-size: cover;
}

.home-title-container {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
    width: 100%;
}

.home-title {
  margin-bottom: 10px;
  font-size: 62px;
  letter-spacing: -2px;
}

.home-sub-title {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 4px;
  margin-left: 10px;
  margin-bottom: 50px;
}
