.black-button {
  margin-left: 10px;
  padding: 0 20px;
  border-radius: 1px;
  line-height: 40px;
  background-color: #white;
  color: black;
  font-size: 14px;
  border: 1px solid black;
&:hover {
  text-decoration: none;
  color: #8d8d8d;
  background: white;
  border-color: #8d8d8d;
}
}



.yellow-button {
  padding: 20px;
  border-radius: 1px;
  line-height: 40px;
  background-color: #FAF33E;
  color: black;
  font-size: 14px;
  border: 1px solid black;
}


.fb-button {
  padding: 15px 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 19px;
  a {
    color: black;
    &:hover {
    text-decoration: none;
    }
  }
}

.button-margin {
 margin: 50px 10px;
}

.submit-button {
  margin-top: 15px;
}

.sign-up-button {
  margin-right: 20px;
}

#button-search-large {
  padding: 0 30px;
}
