.card {
  height: 250px;
  width: 350px;
  border-radius: 3px;
  color: black;
  position: relative;
  margin-bottom: 40px;
}

.outer-card-results{
  margin: 10px 0px;
  text-align: center;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card a:hover, .card a:focus {
    color: white;
    text-decoration: none;
}
.card-description {
 text-align: center;
 display: flex;
 align-items: center;
 justify-content: center;
 height: 100%;
}

.card-description h2 {
  font-size: 24px;
}
.card-description a {
  font-size: 13px;
  color: black;
}

.card-title {
  margin-bottom: 10px;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}

.card-padding {
  padding-bottom: 30px;
}

.card-group {
  margin-top: 50px ;
  margin-bottom: 100px;
  padding-top: 50px;
}

.name-card {
  height: 250px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.name-card a:hover {
  text-decoration: none;
}

.container-icons {
  height: 250px;
  width: 100%;
}

.sport {
  text-align: center;
  height: 250px;
  width: 350px;
  border: 1px solid black;
}
.card-results {
  width: 500px;
  color: #FFFFFF;
  justify-content: center;
  // text-align: center;
   background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.training-details {
  margin-bottom: 1em;
}

.card-training {
  height: 150px;
  width: 600px;

  border-radius: 1px;
  color: white;

  margin-bottom: 20px;
  background-color: #FAFAFA;
  border: #FAFAFA solid 1px;
  padding-left: 20px;


  h3 {
    font-size: 16px;
  }


  p {
    font-size: 12px;
  }

  h4 {
    font-size: 14px;
  }

  &:hover {
  border-color: #8d8d8d;
    transition: all 400ms ease;


}
}

