#photo-result-card {
  height: 170px;
  width: 220px;
  color: #FFFFFF;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

}

#result-card-info {
    background-color: #2fbd7f;
    height: 25px;
    width: 220px;
    display: flex;
    padding-left: 9px;
    align-items: center;
}

#result-card-price {
    background-color: #2fbd7f;
    height: 25px;
    width: 220px;
    display: flex;
    padding-left: 9px;
    align-items: center;
    justify-content: space-between;
    padding-right: 5px;

}
