.tabs {
  background: #white;
  display: flex;
  padding: 10px 10px 0 10px;
  justify-content: center;
  margin: 30px 20px 20px 20px;
}
.tabs a {
  color: black;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
   color: #8d8d8d;
  opacity: 0.8;
}
.tabs h3 {
  font-size: 17px;
  font-weight: bold;
  margin-top: 0;
}
.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
}
.tab {
  background: white;
  flex: 0 0 25%;
  text-align: center;
  padding: 20px 0px;
  border: 1px solid black;
  margin: 5px;
  &:hover {
  color: #8d8d8d;
   border: 1px solid #8d8d8d;
}
}

.tab.active {
  background: black;
  color: white;
   border: 1px solid black;


}
