.tabs {
  background: #white;
  display: flex;
  padding: 10px 10px 0 10px;
  justify-content: center;
  margin: 30px 20px 20px 20px;
}
.tabs a {
  color: black;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #8d8d8d;
  opacity: 0.8;
}


.tab {
  background: white;
  flex: 0 0 25%;
  text-align: center;
  padding: 20px 0px;
  border-bottom: 1px solid $light-gray;
  &:hover {
    color: #8d8d8d;
  }
}

.tab.active {
font-weight: 600;
letter-spacing: 0.5px;
background: white;
color: black;
border-bottom: 1.5px solid black;
}


.tab-sport {
  border: none;
  position: relative;
  padding: 5px;

  &:hover {
    border: none;
    opacity: 0.8;
    cursor: pointer;
  }

  &.active {
    border: none;
    position: relative;
    top: 1px;
    background: none;

  }

  .tab-name {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.5em;
    text-shadow: 0px 0px 8px rgba(100, 100, 100, 1);
  }
}

  @media (min-width: 700px){
    .tab-name {
      height: 350px;
    }
  }

  @media (max-width: 700px){
 .tab-name{
  height: 150px;
  background-size: cover;
  background-position: center top;
  overflow: hidden;
 }
}




#tab-sport.active {
  border: none;
}

